name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest

      - name: Add NQCRegistry
        run: julia -e 'using Pkg; Pkg.Registry.add(RegistrySpec(url="https://github.com/NQCD/NQCRegistry"))'

      - name: Install python dependencies
        run: pip3 install ase pandas dscribe==2.0.0

      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1